<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="webjars/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>layout</title>
</head>
<body>
	<section th:fragment="header">
		<div class="container-fluid p-0">
			<div class="wrapper">
				<div class="l-header">
					<div class="row w-100">
						<div class="col-6">
							<h1>RTADC</h1>
						</div>
						<div class="text-right col-6 pr-0">
							<p class="mb-0">ようこそ○○さん</p>
							<p class="log-out mb-3">ログアウト</p>
						</div>
					</div>
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand text" href="index.html">営業管理アプリ</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item"><a class="nav-link" href="index.html">ホーム
										<span class="sr-only">(current)</span>
								</a></li>
								<li class="nav-item"><a class="nav-link"
									href="create_activity.html">営業記録登録</a></li>
								<li class="nav-item dropdown"><a
									class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
									role="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> ステータス </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="status-p.html">担当者別ステータス</a> <a
											class="dropdown-item" href="status-c.html">顧客別ステータス</a>
									</div></li>
								<li class="nav-item dropdown active"><a
									class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
									role="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"> 顧客管理 </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="create_client.html">顧客登録</a> <a
											class="dropdown-item" href="archive_client.html">顧客リスト</a>
									</div></li>
							</ul>
							<form class="form-inline my-2 my-lg-0">
								<input class="form-control mr-sm-2" type="search"
									placeholder="Search" aria-label="Search">
								<button class="btn btn-outline-success my-2 my-sm-0"
									type="submit">Search</button>
							</form>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<section th:fragment="footer">
		<footer class=”footer”>
			<p class="text-muted text-center bg-dark p-2 mb-0">© 2020
				RaiseTech アプリ開発サークル</p>
		</footer>
	</section>
</body>
</html>