<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="webjars/bootstrap/4.5.2/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
<title>springProject03</title>
</head>
<body>
	<script
		src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<div th:replace="com/layout::header"></div>
	<div class="container">
		<div class="row" id="calender">
			<div class="contents col-sm-1">01</div>
			<div class="contents col-sm-1">(月)</div>
			<div class="contents col-sm-4">18:00-19:00</div>
			<div class="contents col-sm-1">01</div>
			<div class="contents col-sm-1">(月)</div>
			<div class="contents col-sm-4">18:00-19:00</div>
		</div>
	</div>
	<div th:replace="com/layout::footer"></div>
	<script type="text/javascript" th:src="@{/js/calender.js}"></script>
</body>
</html>